@charset "UTF-8";
/* ---------------------------- URLBAR ------------------------------- */
#urlbar-container {
  font-family: "CaskaydiaCove Nerd Font Mono";
  font-size: 14px;
}

#urlbar {
  box-shadow: none !important;
}

#urlbar-background {
  border-width: 0 !important;
  border-radius: 0 !important;
}