Battery {
  low-power-mode never
  Battery-Health {
    optimized-battery-charging OFF
    manage-battery-longevity OFF
  }
  Options {
    slightly-dim-display-on-battery OFF
    automatic-graphics-switching OFF
  }
}
Accessibility {
  Vision {
    Display {
      Display-Contrast "0.5"
      Text {
        text-size "16pt"
      }
      Pointer {
        shake-mouse-pointer-to-locate OFF
      }
    }
  }
}
Appearance {
  Windows {
    tint-window-background-with-wallpaper-color OFF
  }
  click-in-the-scroll-bar-to "Jump to that spot that's clicked"
}
Display {
  scaling "2048x1280"
  automatic-brightness ON
  true-tone OFF
}
Siri {
  Siri OFF
}
Spotlight {
  Results-from-apps {
    turn-everything OFF
  }
  Results-from-system {
    turn-everything OFF
    apps ON
  }
}
Keyboard {
  adjust-keyboard-brightness-in-low-light OFF
  keyboard-shortcuts customize
}

