battery {
  low-power-mode "never"
  battery-health {
    optimized-battery-charging false
    manage-battery-longevity false
  }
  options {
    slightly-dim-display-on-battery false
    automatic-graphics-switching false
  }
}
accessibility {
    display {
      text {
        text-size "16pt"
      }
      pointer {
        shake-mouse-pointer-to-locate false
      }
    }
  }
}
appearance {
  windows {
    tint-window-background-with-wallpaper-color false
  }
  click-in-the-scroll-bar-to "Jump to that spot that's clicked"
}
display {
  true-tone false
}
siri {
  siri false
}
spotlight {
  results-from-apps {
    turn-everything false
  }
  results-from-system {
    turn-everything false
    apps true
  }
}
keyboard {
  adjust-keyboard-brightness-in-low-light false
}

