Battery {
	optimized-battery-charging   "OFF"
	automatic-graphics-switching "OFF"
}

Display {
	scaling              "more space"
	automatic-brightness "ON"
	true-tone            "OFF"
}

Accessibility {
  Display {
    change-pointer                "appearance"
    text-size                     "13pt"
    contrast                      "increase"
    shake-mouse-pointer-to-locate "OFF"
	}
}

Appearance {
	sidebar-icon-size                  "medium"
	show-scroll-bars                   "when-scrolling"
	allow-wallpaper-tinting-in-windows "OFF"
	click-in-the-scroll-bar-to         "Jump to that spot that's clicked"
  highlight-color                    "red"
}

Siri&Spotlight {
  ask-siri "OFF"
}

Desktop&Dock {
	click-wallpaper-to-reveal-desktop "Only in SM"
	widget-style                      "monochrome"
	use-iphone-widgets                "OFF"
}

Keyboard {
	keyboard-layout          "Unicode Hex Input"
	keyboard-bindings-except "remove bindings for screenshots"
	customize-touchbar       "custom"
}