@charset "UTF-8";

/* --------------------------- STATUS PANEL ------------------------ */
/* hide statuspanel */
#statuspanel {
  display: none !important;
}

/* ------------------------------ TABBAR ---------------------------- */
/* hide tabtoolbar */
#TabsToolbar {
  visibility: collapse;
}

/* ----------------------------- SIDEBAR ----------------------------- */
/* hide sidebar header  */
#sidebar-box #sidebar-header {
  visibility: collapse !important;
}

/* Sideberry */
/* normal website page right margin for collapsing sidebar */
#main-window:not([extradragspace="true"])
  #sidebar-wrapper:has(
    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not(
        [hidden]
      )
  )
  ~ #tabbrowser-tabbox
  .browserContainer {
  margin-right: 35px !important;
}

/* in-fullscreen right-margin for collapsing sidebar */
#main-window:not([extradragspace="true"])[inFullscreen][inDOMFullscreen]
  #sidebar-wrapper:has(
    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not(
        [hidden]
      )
  )
  ~ #tabbrowser-tabbox
  .browserContainer {
  margin-right: 0 !important;
}

/* ------------------------------ NAVBAR ----------------------------- */
/* Makes browser window first element sends the NAVBAR down */
/* #browser { */
/*    order: -1 !important; */
/* } */

@-moz-document url(chrome://browser/content/browser.xhtml)
{
  /* Disable auto-hiding when in 'customize' mode */
  :root[customizing] #navigator-toolbox {
    position: relative !important;
    margin-top: 0px;
  }

  :root:not([inFullscreen]) {
    --uc-bottom-toolbar-height: calc(39px + var(--toolbarbutton-outer-padding));
  }

  :root[uidensity="compact"]:not([inFullscreen]) {
    --uc-bottom-toolbar-height: calc(32px + var(--toolbarbutton-outer-padding));
  }

  #browser,
  #customization-container {
    margin-bottom: var(--uc-bottom-toolbar-height, 0px);
  }

  #nav-bar {
    position: fixed !important;
    bottom: 0px;
    /* For some reason -webkit-box behaves internally like -moz-box, but can be used with fixed position. display: flex would work too but it breaks extension menus. */
    display: -webkit-box;
    width: 100%;
    z-index: 1;
    --toolbar-field-focus-border-color: #14c800;
    border-width: 0.5px !important;
  }
  #nav-bar-customization-target {
    -webkit-box-flex: 1;
  }

  /* hides navbar for sure when in fullscreen */
  #nav-bar[inFullscreen] {
    display: none !important;
  }

  /* auto-hiding */
  /*#nav-bar {*/
  /*  --navbar-margin: -20px;*/
  /*  margin-bottom: var(--navbar-margin);*/
  /*  transition: all 0.1s ease !important;*/
  /*}*/
  /*#navigator-toolbox:focus-within > #nav-bar,*/
  /*#navigator-toolbox:hover > #nav-bar {*/
  /*  margin-bottom: 0;*/
  /*}*/

  :root[lwtheme] #nav-bar {
    background-image:
      linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
      var(--lwt-additional-images, var(--toolbar-bgimage)) !important;
    background-position: top, var(--lwt-background-alignment);
    background-repeat: repeat, var(--lwt-background-tiling);
  }
  :root[lwtheme-image] #nav-bar {
    background-image:
      linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
      var(--lwt-header-image),
      var(--lwt-additional-images, var(--toolbar-bgimage)) !important;
  }

  /* Fix panels sizing */
  .panel-viewstack {
    max-height: unset !important;
  }

  #urlbar[breakout][breakout-extend] {
    display: flex !important;
    flex-direction: column-reverse !important;
    bottom: 0px !important; /* Change to 3-5 px if using compact_urlbar_megabar.css depending on toolbar density */
    top: auto !important;
  }

  .urlbarView-body-inner {
    border-top-style: none !important;
  }

  @media (-moz-platform: linux) {
    #notification-popup[side="top"] {
      margin-top: calc(
        -2 * var(--panel-padding-block) - 40px - 32px - 8.5em
      ) !important;
    }
    #permission-popup[side="top"] {
      margin-top: calc(-2 * var(--panel-padding-block) - 2.5em);
    }
  }
}

/* hides unwanted buttons & items from the navbar */
#back-button,
#forward-button,
#reload-button,
#stop-button,
#home-button,
#fxa-toolbar-menu-button {
  display: none;
}

/* Empty space before and after the url bar */
#customizableui-special-spring1,
#customizableui-special-spring2 {
  display: none;
}

/* ---------------------------- URLBAR ------------------------------- */
#urlbar-go-button,
#star-button,
#star-button-box,
#pocket-button,
#tracking-protection-icon-container {
  display: none !important;
}

#urlbar-container {
  font-family: "CaskaydiaCove Nerd Font Mono";
  font-size: 14px;
}

#urlbar {
  box-shadow: none !important;
  /*display: flex !important;*/
  /*flex-direction: column !important;*/
}

#urlbar-background {
  border-width: 0 !important;
  border-radius: 0 !important;
}