jobs:
  build-home-manager-and-graph:
    environment:
      name: dev
    permissions:
      contents: write
      id-token: write
    runs-on: macos-15
    steps:
    - name: Checkout repo
      uses: actions/checkout@main
      with:
        fetch-depth: 1
        persist-credentials: false
    - name: Set env var
      run: echo "OS_NIXCFG=$(pwd)" 1>> "$GITHUB_ENV"
    - uses: DeterminateSystems/nix-installer-action@v21
    - name: Magic Nix Cache(Use Github Actions Cache)
      uses: DeterminateSystems/magic-nix-cache-action@main
    - name: Configure to use personal binary cache @ Cachix
      uses: cachix/cachix-action@master
      with:
        authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
        name: divitmittal
    - name: SSH-agent with auth for private repos
      uses: webfactory/ssh-agent@master
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
    - name: Builds a home-manager configuration
      run: nix build --accept-flake-config .#homeConfigurations.L1.activationPackage
        --impure --show-trace
    - name: Generate home-manager dependency graph
      run: nix -vL run github:craigmbooth/nix-visualize -- --verbose --output ./assets/home_graph.png
        ./result
    - name: Invert graph colors
      run: nix run nixpkgs#imagemagick -- convert ./assets/home_graph.png -channel
        RGB -negate +channel ./assets/home_graph.png
    - env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      name: Push to repo
      run: |-
        git config --global user.name "GitHub Actions Bot"
        git config --global user.email bot@github.com
        git add .
        git commit -m "chore: update home-manager dependency graph"
        git push origin master
    timeout-minutes: 90
'on':
  pull_request:
    branches:
    - master
    paths-ignore:
    - '**/*.md'
    - '**/*.adoc'
    - '**/*.jpeg'
    - '**/*.jpg'
    - '**/*.png'
    - '**/*.svg'
    - .github/**
    - .git*
    - assets/**
    - common/hosts/**
    - hosts/**
    - modules/hosts/**
  push:
    branches:
    - master
    paths-ignore:
    - '**/*.md'
    - '**/*.adoc'
    - '**/*.jpeg'
    - '**/*.jpg'
    - '**/*.png'
    - '**/*.svg'
    - .github/**
    - .git*
    - assets/**
    - common/hosts/**
    - hosts/**
    - modules/hosts/**
  workflow_dispatch: {}
